<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>token</key>
		<string>b4ca1962b3a80823c6138441015d9836</string>
		<key>name</key>
		<string>最新软件</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>1</integer>
		<key>subtype</key>
		<string>1</string>
		<key>order</key>
		<integer>100</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3Db4ca1962b3a80823c6138441015d9836</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>8ebb873ebbdb5f60d33db3f7dd15d63b</string>
		<key>name</key>
		<string>高手问答</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string>new</string>
		<key>type</key>
		<integer>2</integer>
		<key>subtype</key>
		<string>1</string>
		<key>order</key>
		<integer>99</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3D8ebb873ebbdb5f60d33db3f7dd15d63b</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>8f7029b477abf806b1125aff3a666e80</string>
		<key>name</key>
		<string>开源访谈</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>2</integer>
		<key>subtype</key>
		<string>2</string>
		<key>order</key>
		<integer>98</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3D8f7029b477abf806b1125aff3a666e80</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>98d04eb58a1d12b75d254deecbc83790</string>
		<key>name</key>
		<string>技术问答</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>2</integer>
		<key>subtype</key>
		<string>3</string>
		<key>order</key>
		<integer>97</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3D98d04eb58a1d12b75d254deecbc83790</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>b56759c46cb81192b7d1cbb1a478a45d</string>
		<key>name</key>
		<string>技术分享</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>2</integer>
		<key>subtype</key>
		<string>4</string>
		<key>order</key>
		<integer>96</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3Db56759c46cb81192b7d1cbb1a478a45d</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>44fe8b07756796cf620dbd18a4cd56e1</string>
		<key>name</key>
		<string>行业杂烩</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>2</integer>
		<key>subtype</key>
		<string>5</string>
		<key>order</key>
		<integer>95</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3D44fe8b07756796cf620dbd18a4cd56e1</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>ce1231d4a15c3d1e944943a6aa54d695</string>
		<key>name</key>
		<string>职业生涯</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>2</integer>
		<key>subtype</key>
		<string>6</string>
		<key>order</key>
		<integer>94</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3Dce1231d4a15c3d1e944943a6aa54d695</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>2953c7a3d4ebfbae2c45fd34698a6545</string>
		<key>name</key>
		<string>站务建议</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>2</integer>
		<key>subtype</key>
		<string>7</string>
		<key>order</key>
		<integer>93</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3D2953c7a3d4ebfbae2c45fd34698a6545</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>1abf09a23a87442184c2f9bf9dc29e35</string>
		<key>name</key>
		<string>每日一博</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>3</integer>
		<key>subtype</key>
		<string>1</string>
		<key>order</key>
		<integer>92</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3D1abf09a23a87442184c2f9bf9dc29e35</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>b5a06540fdf8d2d4de5c40775585a188</string>
		<key>name</key>
		<string>热门博客</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>3</integer>
		<key>subtype</key>
		<string>2</string>
		<key>order</key>
		<integer>91</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3Db5a06540fdf8d2d4de5c40775585a188</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>0048958a909973b5d83a8eca65d90afb</string>
		<key>name</key>
		<string>最新博客</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>3</integer>
		<key>subtype</key>
		<string>3</string>
		<key>order</key>
		<integer>90</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3D0048958a909973b5d83a8eca65d90afb</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>df985be3c5d5449f8dfb47e06e098ef9</string>
		<key>name</key>
		<string>推荐博客</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>3</integer>
		<key>subtype</key>
		<string>4</string>
		<key>order</key>
		<integer>89</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3Ddf985be3c5d5449f8dfb47e06e098ef9</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>263ee86f538884e70ee1ee50aed759b6</string>
		<key>name</key>
		<string>每日乱弹</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string>hot</string>
		<key>type</key>
		<integer>3</integer>
		<key>subtype</key>
		<string>5</string>
		<key>order</key>
		<integer>88</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3D263ee86f538884e70ee1ee50aed759b6</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>63697c05f04140b1ca1dba8e0822ebf4</string>
		<key>name</key>
		<string>源创君</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>3</integer>
		<key>subtype</key>
		<string>6</string>
		<key>order</key>
		<integer>87</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3D63697c05f04140b1ca1dba8e0822ebf4</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>1299ab1d9f2981cf6100083e106aa531</string>
		<key>name</key>
		<string>前端开发</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>3</integer>
		<key>subtype</key>
		<string>7</string>
		<key>order</key>
		<integer>86</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3D1299ab1d9f2981cf6100083e106aa531</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>32704cb501253b0422544fd84b7de35b</string>
		<key>name</key>
		<string>服务端开发</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>3</integer>
		<key>subtype</key>
		<string>8</string>
		<key>order</key>
		<integer>85</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3D32704cb501253b0422544fd84b7de35b</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>5ca68e0307f68ccd2d181b07d45b110b</string>
		<key>name</key>
		<string>游戏开发</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>3</integer>
		<key>subtype</key>
		<string>9</string>
		<key>order</key>
		<integer>84</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3D5ca68e0307f68ccd2d181b07d45b110b</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>285cfaccd55f60ebc919d30ad709c6b4</string>
		<key>name</key>
		<string>编程语言</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>3</integer>
		<key>subtype</key>
		<string>10</string>
		<key>order</key>
		<integer>83</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3D285cfaccd55f60ebc919d30ad709c6b4</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>471587b6f0a943f4d675281fa5d13975</string>
		<key>name</key>
		<string>数据库</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>3</integer>
		<key>subtype</key>
		<string>11</string>
		<key>order</key>
		<integer>82</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3D471587b6f0a943f4d675281fa5d13975</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>1d76f396e1aad15cf167754bfba9ca78</string>
		<key>name</key>
		<string>企业开发</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>3</integer>
		<key>subtype</key>
		<string>12</string>
		<key>order</key>
		<integer>81</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3D1d76f396e1aad15cf167754bfba9ca78</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>ad0f1d9e413aeadde89eb899817edd81</string>
		<key>name</key>
		<string>图像多媒体</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>3</integer>
		<key>subtype</key>
		<string>13</string>
		<key>order</key>
		<integer>80</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3Dad0f1d9e413aeadde89eb899817edd81</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>253b519335b59c011b6db7d1165932bf</string>
		<key>name</key>
		<string>系统运维</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>3</integer>
		<key>subtype</key>
		<string>14</string>
		<key>order</key>
		<integer>79</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3D253b519335b59c011b6db7d1165932bf</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>ce53a71a371867582eb3023415c83489</string>
		<key>name</key>
		<string>软件工程</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>3</integer>
		<key>subtype</key>
		<string>15</string>
		<key>order</key>
		<integer>78</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3Dce53a71a371867582eb3023415c83489</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>99838268b3bc311a2e763a6a2c4bb9ec</string>
		<key>name</key>
		<string>云计算</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>3</integer>
		<key>subtype</key>
		<string>16</string>
		<key>order</key>
		<integer>77</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3D99838268b3bc311a2e763a6a2c4bb9ec</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>7975ce15d909bb61a6b85b9392db6149</string>
		<key>name</key>
		<string>开源硬件</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>3</integer>
		<key>subtype</key>
		<string>17</string>
		<key>order</key>
		<integer>76</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3D7975ce15d909bb61a6b85b9392db6149</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>177f171d41bb37d80c67bee14123f7e1</string>
		<key>name</key>
		<string>最新翻译</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>4</integer>
		<key>subtype</key>
		<string>1</string>
		<key>order</key>
		<integer>75</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3D177f171d41bb37d80c67bee14123f7e1</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>727d77c15b2ca641fff392b779658512</string>
		<key>name</key>
		<string>线下活动</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>5</integer>
		<key>subtype</key>
		<string>1</string>
		<key>order</key>
		<integer>74</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3D727d77c15b2ca641fff392b779658512</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>3</integer>
			<key>href</key>
			<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2F%2Fbanner%3Fcatalog%3D3</string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>d6112fa662bc4bf21084670a857fbd20</string>
		<key>name</key>
		<string>推荐</string>
		<key>fixed</key>
		<true/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>6</integer>
		<key>subtype</key>
		<string>1</string>
		<key>order</key>
		<integer>73</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3Dd6112fa662bc4bf21084670a857fbd20</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>1</integer>
			<key>href</key>
			<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2F%2Fbanner%3Fcatalog%3D1</string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>e3e35d14a62b4f816ec878b6597b60aa</string>
		<key>name</key>
		<string>热门资讯</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string>hot</string>
		<key>type</key>
		<integer>6</integer>
		<key>subtype</key>
		<string>2</string>
		<key>order</key>
		<integer>72</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3De3e35d14a62b4f816ec878b6597b60aa</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>299975006aa7f9b8a158deeb0d27a011</string>
		<key>name</key>
		<string>码云推荐</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string>new</string>
		<key>type</key>
		<integer>7</integer>
		<key>subtype</key>
		<string>1</string>
		<key>order</key>
		<integer>71</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3D299975006aa7f9b8a158deeb0d27a011</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>token</key>
		<string>5718df855db5913f25cab8ee4f7c656c</string>
		<key>name</key>
		<string>移动开发</string>
		<key>fixed</key>
		<false/>
		<key>needLogin</key>
		<false/>
		<key>tag</key>
		<string></string>
		<key>type</key>
		<integer>3</integer>
		<key>subtype</key>
		<string>18</string>
		<key>order</key>
		<integer>75</integer>
		<key>href</key>
		<string>https%3A%2F%2Fwww.oschina.net%2Faction%2Fapiv2%2Fsub_list%3Ftoken%3D299975006aa7f9b8a158deeb0d27a011</string>
		<key>banner</key>
		<dict>
			<key>catalog</key>
			<integer>0</integer>
			<key>href</key>
			<string></string>
		</dict>
	</dict>
</array>
</plist>
